* {
  font-family: $font-main;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: unset;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;

  &:focus {
    outline: none;
  }
}

.open {
  right: 0 !important;
}

.active {
  display: block;
}

.unactive {
  display: none;
}

.expand--height0 {
  max-height: 0;
  line-height: 0;
  overflow: hidden;
  transition: max-height 0.5s, overflow 0s;

  &.open {
    max-height: 173px;
    overflow: auto;
    transition: max-height 0.5s, overflow 0.5s 0.5s;
  }
}

.left__elem--close,
.left__elem--hamburger {
  float: right;
  position: relative;
  z-index: 11;
}

.mask {
  background-color: $mask-color;
  visibility: hidden;
  opacity: 0;
  float: left;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  transition: visibility 0s 0.25s, opacity 0.25s linear;

  &.active {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.25s linear;
  }
}
