i {
   background-repeat: no-repeat;
   background-position: center;


   &.hamburger {
      background-image: url('#{$assets-path}/icons/menu.png');
      height: 30px;
      width: 37px;
   }

   &.close {
      background-image: url('#{$assets-path}/icons/close.png');
      height: 31px;
      width: 31px;
   }

   &.phone {
      background-image: url('#{$assets-path}/icons/phone.png');
      height: 21px;
      width: 13px;
   }

   &.mail {
      background-image: url('#{$assets-path}/icons/mail.png');
      height: 17px;
      width: 22px;
   }

}