// font-family
$font-main: 'Open Sans',
sans-serif;

// font-size
$fontsize-copy: 10px;
$fontsize-xs: 12px;
$fontsize-s: 14px;
$fontsize-m: 16px;
$fontsize-l: 18px;
$fontsize-xl: 20px;
$fontsize-score: 30px;

// line-height
$lineheight-xs: 12px;
$lineheight-s: 14px;
$lineheight-m: 16px;
$lineheight-l: 18px;
$lineheight-xl: 20px;
$lineheight-xl-2: 22px;


// colors
$white-color: #FFFFFF;
$black-color: #000000;
$red-color: #f93542;
$darkred-color: #b62630;
$mask-color: rgba(0, 0, 0, .7);

// media quries
$phone-min-width: 320px;
$phone-max-width: 640px;
$tablet-min-width: 768px;
$tablet-max-width: 1024px;
$tablet-max-width-2: 1200px;
$desktop-mdpi: 1280px;
$desktop-hdpi: 1440px;
$desktop-hdpi-2: 1920px;

// path
$assets-path: '../assets/';