html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: unset;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }
  *:focus {
    outline: none; }

.open {
  right: 0 !important; }

.active {
  display: block; }

.unactive {
  display: none; }

.expand--height0 {
  max-height: 0;
  line-height: 0;
  overflow: hidden;
  transition: max-height 0.5s, overflow 0s; }
  .expand--height0.open {
    max-height: 173px;
    overflow: auto;
    transition: max-height 0.5s, overflow 0.5s 0.5s; }

.left__elem--close,
.left__elem--hamburger {
  float: right;
  position: relative;
  z-index: 11; }

.mask {
  background-color: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  opacity: 0;
  float: left;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  transition: visibility 0s 0.25s, opacity 0.25s linear; }
  .mask.active {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.25s linear; }

* {
  box-sizing: border-box; }

body {
  width: 100%;
  background-color: #000000; }

footer,
header,
section {
  width: 100%;
  float: left;
  display: inline-block; }

.wrapper {
  margin: 0 9.5%;
  width: 82%; }

.main-header {
  position: relative; }

a {
  text-decoration: none;
  color: #FFFFFF; }

p {
  font-size: 10px;
  color: #FFFFFF; }

.nav {
  background-color: #000000;
  width: 100%;
  float: left; }
  .nav .nav__wrapper {
    margin: 0 19.5%;
    width: 61%; }
  .nav .nav__left,
  .nav .nav__right {
    float: left;
    display: inline-block;
    padding-top: 55px; }
  .nav .nav__left {
    width: 40%;
    padding-bottom: 21px; }
    .nav .nav__left .left__elem .elem--logo {
      height: 44px; }
  .nav .nav__right {
    width: 60%; }
    .nav .nav__right .menu {
      display: inline-block;
      float: right; }
      .nav .nav__right .menu .menu__elem:last-child {
        padding-right: 0px; }
      .nav .nav__right .menu.menu__top .menu__elem--top,
      .nav .nav__right .menu.menu__top .menu__elem--bottom, .nav .nav__right .menu.menu__bottom .menu__elem--top,
      .nav .nav__right .menu.menu__bottom .menu__elem--bottom {
        display: inline-block;
        float: left; }

.menu__top {
  padding-bottom: 11px;
  text-align: right; }
  .menu__top .menu__elem--top {
    padding-right: 45px; }
    .menu__top .menu__elem--top .elem--link {
      font-size: 12px;
      line-height: 14px;
      font-weight: normal;
      color: #b62630; }
      .menu__top .menu__elem--top .elem--link .elem--icon {
        margin-right: 10px;
        background-position: top;
        float: left; }

.menu__elem--bottom {
  padding-right: 48px;
  position: relative;
  padding-bottom: 15px; }
  .menu__elem--bottom:hover > .menu__hover {
    display: block; }
  .menu__elem--bottom .elem--link {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 16px;
    font-weight: bold; }
    .menu__elem--bottom .elem--link:hover {
      color: #f93542; }

.menu__hover {
  position: absolute;
  display: none;
  z-index: 1;
  background-color: #FFFFFF;
  width: 128px;
  right: 18px;
  top: 28px;
  padding: 10px 20px 20px;
  border-top: 4px solid #f93542; }
  .menu__hover .menu__elem--hover {
    display: block;
    position: relative;
    padding: 15px 0px; }
    .menu__hover .menu__elem--hover .elem--link {
      color: #000000;
      text-transform: initial;
      font-size: 12px;
      line-height: 12px;
      font-weight: normal; }
      .menu__hover .menu__elem--hover .elem--link:hover {
        color: #f93542; }

.header {
  background-image: url(../assets/images/bg.jpg);
  background-size: cover;
  width: 100%;
  height: 45vh;
  background-position: center 17%; }

footer {
  overflow: hidden;
  margin-top: 80px;
  border-top: 2px solid #FFFFFF;
  padding: 15px 0;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center; }
  footer .copyright {
    display: inline-block; }
  footer .snake {
    float: left;
    width: 100%;
    margin-bottom: 20px; }
    footer .snake a {
      color: #f93542;
      font-size: 20px;
      font-weight: bold; }

/* SNAKE styles */
.game-wrap {
  height: 100%;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center; }
  .game-wrap .label {
    width: 800px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: justify;
        justify-content: space-between; }
  .game-wrap .scoreboard,
  .game-wrap .highscore {
    font-size: 30px; }
  .game-wrap .board {
    background: #FFFFFF;
    border: 2px solid #000000; }
  .game-wrap .gameover-screen {
    height: 500px;
    width: 100%;
    background: #000000;
    display: none; }
    .game-wrap .gameover-screen ul {
      list-style: none;
      height: 100%;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
          flex-direction: column;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center; }
      .game-wrap .gameover-screen ul li {
        margin-bottom: 50px; }
    .game-wrap .gameover-screen .final-score {
      font-size: 32px; }
  .game-wrap .highscores-board {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    height: 600px;
    width: 100%;
    color: #FFFFFF;
    background: #000000;
    display: none; }
    .game-wrap .highscores-board ol {
      margin-top: 35px; }
      .game-wrap .highscores-board ol li {
        font-size: 36px;
        margin-bottom: 10px; }
    .game-wrap .highscores-board #return-from-highscores {
      width: 200px;
      height: 50px;
      margin-top: 10vw; }

i {
  background-repeat: no-repeat;
  background-position: center; }
  i.hamburger {
    background-image: url("../assets//icons/menu.png");
    height: 30px;
    width: 37px; }
  i.close {
    background-image: url("../assets//icons/close.png");
    height: 31px;
    width: 31px; }
  i.phone {
    background-image: url("../assets//icons/phone.png");
    height: 21px;
    width: 13px; }
  i.mail {
    background-image: url("../assets//icons/mail.png");
    height: 17px;
    width: 22px; }

@media (min-width: 320px) and (max-width: 639px) {
  .off-320 {
    display: none !important; }
  .nav .nav__wrapper,
  .wrapper {
    margin: 0 20px;
    width: calc(100% - 40px); }
  .nav .nav__left {
    width: 100%;
    padding-bottom: 30px;
    padding-top: 60px; }
    .nav .nav__left .left__elem .elem--logo {
      height: 35px; }
    .nav .nav__left .left__elem .elem--icon {
      float: right;
      margin-top: 3px; }
  .menu__bottom .menu__elem--bottom {
    padding-right: 0px;
    padding-left: 0px; }
    .menu__bottom .menu__elem--bottom .elem--link {
      padding-left: 20px; }
  .menu__mobile {
    position: fixed;
    overflow: auto;
    z-index: 11;
    width: 55.5%;
    max-width: 200px;
    height: calc(100% - 127px);
    top: 127px;
    right: -200px;
    background-color: #000000;
    padding: 15px 0px;
    transition: right 0.5s; }
  .menu__expand {
    background-color: #FFFFFF;
    width: 100%;
    padding: 0px;
    margin: 15px 0 12px; }
    .menu__expand .menu__elem--expand {
      display: block;
      position: relative;
      padding: 15px 0px; }
      .menu__expand .menu__elem--expand:first-child {
        padding-top: 25px; }
      .menu__expand .menu__elem--expand:last-child {
        padding-bottom: 25px; }
      .menu__expand .menu__elem--expand .elem--link {
        color: #000000;
        text-transform: initial;
        font-size: 12px;
        line-height: 12px;
        font-weight: normal; }
  .menu__top {
    float: left;
    margin-top: 42px;
    padding-left: 15px;
    text-align: left; }
    .menu__top .menu__elem--top {
      padding-right: 0;
      float: left; }
      .menu__top .menu__elem--top:first-child {
        padding-bottom: 13px; }
        .menu__top .menu__elem--top:first-child .elem--link .elem--icon {
          margin-left: 5px; } }

@media (min-width: 640px) and (max-width: 767px) {
  .off-640 {
    display: none !important; }
  .nav .nav__wrapper,
  .wrapper {
    margin: 0 20px;
    width: calc(100% - 40px); }
  .nav .nav__left {
    width: 100%;
    padding-bottom: 30px;
    padding-top: 60px; }
    .nav .nav__left .left__elem .elem--logo {
      height: 35px; }
    .nav .nav__left .left__elem .elem--icon {
      float: right;
      margin-top: 3px; }
  .menu__bottom .menu__elem--bottom {
    padding-right: 0px;
    padding-left: 0px; }
    .menu__bottom .menu__elem--bottom .elem--link {
      padding-left: 20px; }
  .menu__mobile {
    position: fixed;
    overflow: auto;
    z-index: 11;
    width: 55.5%;
    max-width: 200px;
    height: calc(100% - 127px);
    top: 127px;
    right: -200px;
    background-color: #000000;
    padding: 15px 0px;
    transition: right 0.5s; }
  .menu__expand {
    background-color: #FFFFFF;
    width: 100%;
    padding: 0px;
    margin: 15px 0 12px; }
    .menu__expand .menu__elem--expand {
      display: block;
      position: relative;
      padding: 15px 0px; }
      .menu__expand .menu__elem--expand:first-child {
        padding-top: 25px; }
      .menu__expand .menu__elem--expand:last-child {
        padding-bottom: 25px; }
      .menu__expand .menu__elem--expand .elem--link {
        color: #000000;
        text-transform: initial;
        font-size: 12px;
        line-height: 12px;
        font-weight: normal; }
  .menu__top {
    float: left;
    margin-top: 42px;
    padding-left: 15px;
    text-align: left; }
    .menu__top .menu__elem--top {
      padding-right: 0;
      float: left; }
      .menu__top .menu__elem--top:first-child {
        padding-bottom: 13px; }
        .menu__top .menu__elem--top:first-child .elem--link .elem--icon {
          margin-left: 5px; } }

@media (min-width: 768px) and (max-width: 1023px) {
  .off-768 {
    display: none !important; }
  .nav .nav__wrapper,
  .wrapper {
    margin: 0 20px;
    width: calc(100% - 40px); }
  .nav .nav__left {
    width: 100%;
    padding-bottom: 30px;
    padding-top: 60px; }
    .nav .nav__left .left__elem .elem--logo {
      height: 35px; }
    .nav .nav__left .left__elem .elem--icon {
      float: right;
      margin-top: 3px; }
  .menu__bottom .menu__elem--bottom {
    padding-right: 0px;
    padding-left: 0px; }
    .menu__bottom .menu__elem--bottom .elem--link {
      padding-left: 20px; }
  .menu__mobile {
    position: fixed;
    overflow: auto;
    z-index: 11;
    width: 55.5%;
    max-width: 200px;
    height: calc(100% - 127px);
    top: 127px;
    right: -200px;
    background-color: #000000;
    padding: 15px 0px;
    transition: right 0.5s; }
  .menu__expand {
    background-color: #FFFFFF;
    width: 100%;
    padding: 0px;
    margin: 15px 0 12px; }
    .menu__expand .menu__elem--expand {
      display: block;
      position: relative;
      padding: 15px 0px; }
      .menu__expand .menu__elem--expand:first-child {
        padding-top: 25px; }
      .menu__expand .menu__elem--expand:last-child {
        padding-bottom: 25px; }
      .menu__expand .menu__elem--expand .elem--link {
        color: #000000;
        text-transform: initial;
        font-size: 12px;
        line-height: 12px;
        font-weight: normal; }
  .menu__top {
    float: left;
    margin-top: 42px;
    padding-left: 15px;
    text-align: left; }
    .menu__top .menu__elem--top {
      padding-right: 0;
      float: left; }
      .menu__top .menu__elem--top:first-child {
        padding-bottom: 13px; }
        .menu__top .menu__elem--top:first-child .elem--link .elem--icon {
          margin-left: 5px; } }

@media (min-width: 1024px) and (max-width: 1199px) {
  .off-1024 {
    display: none !important; }
  .nav .nav__wrapper,
  .wrapper {
    margin: 0 20px;
    width: calc(100% - 40px); }
  .nav .nav__left {
    width: 100%;
    padding-bottom: 30px;
    padding-top: 60px; }
    .nav .nav__left .left__elem .elem--logo {
      height: 35px; }
    .nav .nav__left .left__elem .elem--icon {
      float: right;
      margin-top: 3px; }
  .menu__bottom .menu__elem--bottom {
    padding-right: 0px;
    padding-left: 0px; }
    .menu__bottom .menu__elem--bottom .elem--link {
      padding-left: 20px; }
  .menu__mobile {
    position: fixed;
    overflow: auto;
    z-index: 11;
    width: 55.5%;
    max-width: 200px;
    height: calc(100% - 127px);
    top: 127px;
    right: -200px;
    background-color: #000000;
    padding: 15px 0px;
    transition: right 0.5s; }
  .menu__expand {
    background-color: #FFFFFF;
    width: 100%;
    padding: 0px;
    margin: 15px 0 12px; }
    .menu__expand .menu__elem--expand {
      display: block;
      position: relative;
      padding: 15px 0px; }
      .menu__expand .menu__elem--expand:first-child {
        padding-top: 25px; }
      .menu__expand .menu__elem--expand:last-child {
        padding-bottom: 25px; }
      .menu__expand .menu__elem--expand .elem--link {
        color: #000000;
        text-transform: initial;
        font-size: 12px;
        line-height: 12px;
        font-weight: normal; }
  .menu__top {
    float: left;
    margin-top: 42px;
    padding-left: 15px;
    text-align: left; }
    .menu__top .menu__elem--top {
      padding-right: 0;
      float: left; }
      .menu__top .menu__elem--top:first-child {
        padding-bottom: 13px; }
        .menu__top .menu__elem--top:first-child .elem--link .elem--icon {
          margin-left: 5px; } }

@media (min-width: 1200px) and (max-width: 1279px) {
  .off-1200 {
    display: none !important; }
  .menu__bottom .menu__elem--bottom {
    padding-right: 28px; }
  .menu__hover {
    right: -2px; } }

@media (min-width: 1280px) and (max-width: 1439px) {
  .off-1280 {
    display: none !important; }
  .menu__bottom .menu__elem--bottom {
    padding-right: 35px; }
  .menu__hover {
    right: 5px; } }

@media (min-width: 1440px) and (max-width: 1919px) {
  .off-1440 {
    display: none !important; } }

@media (min-width: 1920px) {
  .off-1920 {
    display: none !important; } }
