.off-640 {
  display: none !important;
}

.nav .nav__wrapper,
.wrapper {
  margin: 0 20px;
  width: calc(100% - 40px);
}

.nav {
  .nav__left {
    width: 100%;
    padding-bottom: 30px;
    padding-top: 60px;

    .left__elem {
      .elem--logo {
        height: 35px;
      }

      .elem--icon {
        float: right;
        margin-top: 3px;
      }
    }
  }
}

.menu__bottom {
  .menu__elem--bottom {
    padding-right: 0px;
    padding-left: 0px;

    .elem--link {
      padding-left: 20px;
    }
  }
}

.menu__mobile {
  position: fixed;
  overflow: auto;
  z-index: 11;
  width: 55.5%;
  max-width: 200px;
  height: calc(100% - 127px);
  top: 127px;
  right: -200px;
  background-color: $black-color;
  padding: 15px 0px;
  transition: right 0.5s;
}

.menu__expand {
  background-color: $white-color;
  width: 100%;
  padding: 0px;
  margin: 15px 0 12px;

  .menu__elem--expand {
    display: block;
    position: relative;
    padding: 15px 0px;

    &:first-child {
      padding-top: 25px;
    }

    &:last-child {
      padding-bottom: 25px;
    }

    .elem--link {
      color: $black-color;
      text-transform: initial;
      font-size: $fontsize-xs;
      line-height: $lineheight-xs;
      font-weight: normal;
    }
  }
}

.menu__top {
  float: left;
  margin-top: 42px;
  padding-left: 15px;
  text-align: left;

  .menu__elem--top {
    padding-right: 0;
    float: left;

    &:first-child {
      padding-bottom: 13px;

      .elem--link {
        .elem--icon {
          margin-left: 5px;
        }
      }
    }
  }
}

.header {
}
