* {
   box-sizing: border-box;
}

body {
   // position: relative;
   width: 100%;
   background-color: $black-color;
}

footer,
header,
section {
   width: 100%;
   float: left;
   display: inline-block;
}

.wrapper {
   margin: 0 9.5%;
   width: 82%;
}

.main-header {
   position: relative;
}

a {
   text-decoration: none;
   color: $white-color;
}

p {
   font-size: $fontsize-copy;
   color: $white-color;
}


.nav {
   background-color: $black-color;
   width: 100%;
   float: left;

   .nav__wrapper {
      margin: 0 19.5%;
      width: 61%;
   }

   .nav__left,
   .nav__right {
      float: left;
      display: inline-block;
      padding-top: 55px;
   }

   .nav__left {
      width: 40%;
      padding-bottom: 21px;

      .left__elem {
         .elem--logo {
            height: 44px;
         }
      }
   }

   .nav__right {
      width: 60%;

      .menu {
         display: inline-block;
         float: right;

         .menu__elem {
            &:last-child {
               padding-right: 0px;
            }

            .elem--link {
               // display: block;
            }
         }

         &.menu__top,
         &.menu__bottom {

            .menu__elem--top,
            .menu__elem--bottom {
               display: inline-block;
               float: left;
            }
         }
      }
   }
}

.menu__top {
   padding-bottom: 11px;
   text-align: right;

   .menu__elem--top {
      padding-right: 45px;

      .elem--link {
         font-size: $fontsize-xs;
         line-height: $lineheight-s;
         font-weight: normal;
         color: $darkred-color;

         .elem--icon {
            margin-right: 10px;
            background-position: top;
            float: left;
         }
      }
   }
}

.menu__elem--bottom {
   padding-right: 48px;
   position: relative;
   padding-bottom: 15px;

   &:hover {
      &>.menu__hover {
         display: block;
      }
   }

   .elem--link {
      text-transform: uppercase;
      font-size: $fontsize-s;
      line-height: $lineheight-m;
      font-weight: bold;

      &:hover {
         color: $red-color;
      }
   }
}

.menu__hover {
   position: absolute;
   display: none;
   z-index: 1;
   background-color: $white-color;
   width: 128px;
   right: 18px;
   top: 28px;
   padding: 10px 20px 20px;
   border-top: 4px solid $red-color;

   .menu__elem--hover {
      display: block;
      position: relative;
      padding: 15px 0px;

      .elem--link {
         color: $black-color;
         text-transform: initial;
         font-size: $fontsize-xs;
         line-height: $lineheight-xs;
         font-weight: normal;

         &:hover {
            color: $red-color;
         }
      }

   }
}

.header {
   background-image: url(#{$assets-path}images/bg.jpg);
   background-size: cover;
   width: 100%;
   height: 45vh;
   background-position: center 17%;
}

footer {
   overflow: hidden;
   margin-top: 80px;
   border-top: 2px solid $white-color;
   padding: 15px 0;
   position: absolute;
   right: 0;
   bottom: 0;
   left: 0;
   text-align: center;

   .copyright {
      display: inline-block;
   }

   .snake {
      float: left;
      width: 100%;
      margin-bottom: 20px;

      a {
         color: $red-color;
         font-size: $fontsize-xl;
         font-weight: bold;
      }
   }
}

/* SNAKE styles */

.game-wrap {
   height: 100%;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

   .label {
      width: 800px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
   }

   .scoreboard,
   .highscore {
      font-size: $fontsize-score;
   }

   .board {
      background: $white-color;
      border: 2px solid $black-color;
   }

   .gameover-screen {
      height: 500px;
      width: 100%;
      background: $black-color;
      display: none;

      ul {
         list-style: none;
         height: 100%;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;

         li {
            margin-bottom: 50px;
         }
      }

      .final-score {
         font-size: 32px;
      }
   }

   .highscores-board {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 600px;
      width: 100%;
      color: $white-color;
      background: $black-color;
      display: none;

      ol {
         margin-top: 35px;

         li {
            font-size: 36px;
            margin-bottom: 10px;
         }
      }

      #return-from-highscores {
         width: 200px;
         height: 50px;
         margin-top: 10vw;
      }
   }
}